<!DOCTYPE html>
<html>
<head>
    <title>升级会员</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"/>
    <meta name="keywords" content="青果科技,青果工作室,青果联盟,qingguo软件" />
    <meta name="description" content="企考通,企事业单位考试系统,在线网络考试系统,自我评测系统,青果科技,移动互联建设专家,专注企事业单位信息化系统服务建设,提供企业网站建设,网站建设服务,信息化系统建设,APP移动终端开发,微信手机端服务.选择我们,为您提供优质的服务." />
    
    <link rel="shortcut icon" href="/logo.gif" /> 
    <link rel="stylesheet" href="../lib/weui.min.css">
    <link rel="stylesheet" href="../css/jquery-weui.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
        body {
            background-color: #f2f2f2;
            height: 350px;
        }
    </style>
</head>
<body ontouchstart>
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">操作成功</h2>
            <p class="weui-msg__desc">恭喜您支付成功！您已经是会员了...</p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <a href="my.html" class="weui-btn weui-btn_primary">返回</a>
            </p>
        </div>
        <div class="weui-msg__extra-area">
            <div class="weui-footer">
                <p class="weui-footer__links">
                    <a href="javascript:void(0);" class="weui-footer__link">即时分享</a>
                </p>
                <p class="weui-footer__text">Copyright © 20017-2022 </p>
            </div>
        </div>
    </div>
    
    <script src="../js/mui.min.js"></script>
    <script src="../lib/jquery-2.1.4.js"></script>
    <script src="../lib/fastclick.js"></script>
    <script src="../js/jquery-weui.js"></script>
    <script>
        $(function () {
            FastClick.attach(document.body);
        });
    </script>
</body>
</html>
