<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--apple证书名称和证书密码-->
    <add key="AppleCertification" value="production.p12" />
    <add key="ApplePassword" value="66952155" />
    <!--配置文件名称-->
    <add key="ConfigFileName" value="SchedulerTask.xml" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--百度信息推送-->
    <!--安卓用户api密钥-->
    <add key="ApiKey" value="QFyiqHI8kT3tYa2SWgrF0N6j"/>
    <!--安卓用户密钥-->
    <add key="SecretKey" value="Gg9Z8FBintNSVGVkzOIvmGeg5FBAtbhf"/>
    <!--是否为沙盒模式-->
    <add key="SandBox" value="true"/>
    <!--苹果用户api密钥-->
    <add key="IOSApiKey" value="Z4zDZHGLeQBhoknxFqH8L2TZ"/>
    <!--苹果用户密钥-->
    <add key="IOSSecretKey" value="GiH69vjbGH1EnGwRFvQ9HRuSQ7lpncvA"/>
    <!--新任务推送发布距离-->
    <add key="NewTaskRange" value="200000"/>
    <!--用户发布跑腿打车通知标题-->
    <add key="PushRunTitle" value="有一条新的任务了."/>
    <!--商户抢单通知标题-->
    <add key="GrabBillTitle" value="您的需求已被接收，请注意查看"/>
    <!--支付成功-->
    <add key="PayTitle" value="您已支付成功"/>

    <add key="DAL" value="QINGUO.DAL" />
    <!--Dapper主库-->
    <add key="WriteConnectionStringName" value="WriteConnectionString"/>
    <!--Dapper从库-->
    <add key="ReadConnectionStringName" value="ReadConnectionString"/>

    <!--个推信息推送-->
    <add key="APPID" value="yEDwOuB02q5dduauWkJEh7"/>
    <add key="APPKEY" value="rWNvHQ88iNAiQQf3KxDpc4"/>
    <add key="MASTERSECRET" value="BClt6Bj25O9qOFsxK1FDM4"/>
    <add key="DeviceToken" value=""/>

  </appSettings>
  <!--数据库链接字符串-->
  <connectionStrings>

    <!--本地-->
    <add name="WriteConnectionString" connectionString="Server=139.199.66.49;DataBase=91QINGUO_ADShare;Uid=ducq;Pwd=123qweasdzxc~;Pooling=true;Max Pool Size=40000;Min Pool Size=0;"/>
    <add name="ReadConnectionString" connectionString="Server=139.199.66.49;DataBase=91QINGUO_ADShare;Uid=ducq;Pwd=123qweasdzxc~;Pooling=true;Max Pool Size=40000;Min Pool Size=0;"/>
    <add name="sql" connectionString="Server=139.199.66.49;DataBase=91QINGUO_ADShare;Uid=ducq;Pwd=123qweasdzxc~;Pooling=true;Max Pool Size=40000;Min Pool Size=0;"/>
    
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>