
body{ position:relative; overflow: scroll;}

/*html5*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}

/** 通用样式 **/
body, form, ul, li{margin: 0;padding: 0;}
body, p, th, td, span, div, a, input{color: #000000;font-size: 13px;font-family: Arial;}
a{color: #000000;text-decoration: none;}
a:hover{color: #ff0000;text-decoration:none;}


.fix{ display:none; position:fixed; top:0px; left:0px; width:100%; height:100%; background-color:rgba(255,255,255,0.8);}

header{width:100%; height:80px;  text-align:center;}
header .head_nav{ height:50px;background-color:#4EAFF4;}
header .head_nav span{ display:inline-block; width:auto; height:50px; line-height:50px; margin:0 10px;}
header .head_nav span .fa{ color:#fff; font-size:30px;vertical-align: middle; margin-right:5px;}
header .head_nav span font{ font-size:14px;}
header div.mark { height:29px; line-height:29px;background-color:#D0E9FD; border-bottom:1px solid #000;}
header div.mark span font{ color:#11732A; font-weight:bold;}

section{ width:1000px; margin:0 auto; min-height:500px;}

/**单题显示***/
section .main_single nav {  width:100%; height:50px;  line-height:50px; text-align:center;}
section .main_single nav a{position:relative ; text-decoration:none; display:inline-block; width:110px; height:35px; line-height:35px;  text-align:center; margin:0 10px;}

section .main_single nav a.a1{background-color:#813677;}
section .main_single nav a.a2{background-color:#1A71B8;}
section .main_single nav a.a3{background-color:#CF4626;}
section .main_single nav a.a4{background-color:#7FA139;}
section .main_single nav a.a5{background-color:#4EAFF4;}
section .main_single nav a.a6{background-color:#FFD117;}
section .main_single nav a.a7{background-color:#E33633;}
section .main_single nav a.a8{background-color:#376E46;}
section .main_single nav a.a8 font{ margin-left:10px;}
section .main_single nav a .fa{color:White;position: absolute;top: 5px;left: 5px;  font-size: 25px;}


section .main_single nav a img{ width:20px; height:25px; vertical-align:middle; margin-right:3px;margin-top: -5px;}
section .main_single nav a font{ font-size:15px; color:#fff;}

section .main_single .center{ width:100%; height:auto; position:relative;}
section .main_single .center .tiku{  width:202px; height:500px; padding:3px; border:1px solid #529ED8; overflow-y:scroll; float:left;}
section .main_single .center .tiku a{ width:30.5%; background-color:#fff; margin:3px 0px; border:1px solid #24364A; display:inline-block; height:30px; line-height:30px; text-align:center;}
section .main_single .center .ti{ background-color:#DBEBF8; width:770px; height:506px; margin-left:10px; float:left; border:1px solid #529ED8;}
section .main_single .center .ti .ti_title{ height:30px; line-height:30px; padding-left:20px; font-size:13px; background-color:#529ED8; }
section .main_single .center .ti .ti_title span{ font-size:14px; color:#fff;}
section .main_single .center .ti .ti_title a{display:none;/*  display:inline-block;*/ height:25px;  width:80px; text-align:center; line-height:25px; float:right; margin-right:20px;}
section .main_single .center .ti .ti_center{  overflow:hidden; position:relative; padding:10px; height:455px; width:auto; overflow-y:scroll;} 
section .main_single .center .ti .ti_center p.biaoti span{ font-weight:bold; font-size:14px;}

section .main_single .center .ti .ti_footer{ padding:10px; background-color:#fff; z-index:5; position:absolute; right:-750px;top:20px;height:410px;width:720px;overflow-y:scroll;}
section .main_single .center .ti .ti_footer .close{ cursor:pointer;}
section .main_single .center .ti .ti_footer p{ letter-spacing:1.5px; line-height:18px; font-size:13px;}

section .main_single .center .btn{background-color:#529ED8; position:absolute;z-index:6; right:8px; top:30px; width:30px; height:475px;}
section .main_single .center .btn p{ width:30px; margin:0 auto; height:120px; text-align:center; padding:19.5px 0px; }
section .main_single .center .btn p:nth-child(1){ background-color:#7E3877;}
section .main_single .center .btn p:nth-child(2){ background-color:#1E7AC7;}
section .main_single .center .btn p:nth-child(3){ background-color:#717171;}
section .main_single .center .btn p.p1{ background-color:#7E3877;}
section .main_single .center .btn p.p2{ background-color:#1E7AC7;}
section .main_single .center .btn p.p3{ background-color:#717171;}

section .main_single .center .btn p img{ width:20px; height:25px; margin:0px 2.5px; margin-top:2px;}
section .main_single .center .btn p a{font-size:20px;line-height:35px;}

section .main_single .center .btn .fa{  font-size: 20px;color: white;}
/**单题显示***/

/**多题显示***/
section .main_more{position:relative;}
section .main_more  .Top{ position:absolute; right:40px; bottom:10px; width:40px; height:40px; }
section .main_more  .Top img{width:40px; height:40px;}

section .main_more nav { position:relative; float:left; width:210px; line-height:50px; text-align:center;}
section .main_more nav a{ position:relative; text-decoration:none; display:inline-block; width:150px; height:35px; line-height:35px;  text-align:center; margin:10px 10px;}

section .main_more nav a.a1{background-color:#813677;}
section .main_more nav a.a2{background-color:#1A71B8;}
section .main_more nav a.a3{background-color:#CF4626;}
section .main_more nav a.a4{background-color:#7FA139;}
section .main_more nav a.a5{background-color:#4EAFF4;}
section .main_more nav a.a6{background-color:#FFD117;}
section .main_more nav a.a7{background-color:#E33633;}
section .main_more nav a.a8{background-color:#376E46;}

section .main_more nav a img{ width:20px; height:25px; vertical-align:middle; left:15px; top:5px; position:absolute;}
section .main_more nav a font{ font-size:15px; color:#fff;}

section .main_more nav i{}
section .main_more nav .fa{color:White;position: absolute;top: 5px;left: 15px;  font-size: 25px;}


section .main_more .center{border: 1px solid #529ED8; position:relative; width:100%; height:auto;width:770px;margin-top:10px; margin-left:10px; float:left;min-height:556px; overflow-y:scroll;}


section .main_more .center .ti{background-color:#DBEBF8;width:750px;  border:1px solid #529ED8; border-left:0px;}
section .main_more .center .ti .ti_title{ height:30px; line-height:30px; padding-left:20px; font-size:13px; background-color:#529ED8; }
section .main_more .center .ti .ti_title span{ font-size:14px; color:#fff;}
section .main_more .center .ti .ti_title a{ display:inline-block; height:25px;  width:80px; text-align:center; line-height:25px; float:right; margin-right:20px;}
section .main_more .center .ti .ti_center{ padding:10px; width:auto;} 
section .main_more .center .ti .ti_center p.biaoti span{ font-weight:bold; font-size:14px;}
/**多题显示***/


