html,body{ height:100%;text-size-adjust: 100%; background:#FFF; font-size:12px;color: #333333;-webkit-user-select:none;}
/* @viewport,@-webkit-viewport{width: device-width;max-zoom:1;min-zoom:1;user-zoom: fixed; } */
body{ margin:0px; border:0px; font-size:14px; line-height:130%; overflow: hidden;}
*{outline:none;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;}
input,textarea,.havemenu{border:0px;-webkit-touch-callout:default !important;-webkit-user-select:text !important;font-family:Arial, Helvetica, sans-serif}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {color: #c6c6c6; font-weight: 400;}
img{ border:none;}a{ text-decoration:none; color:#000;}
header,section,footer,aside,nav,h1,h2,h3,h4,h5,h6,ul,li,dl,dd,dt{ display:block; margin:0px; padding:0px; width:100%;}
table{border-collapse:collapse;border-spacing:0;width:100%}td{padding:0px}textarea{resize:none;}
li,dl,dt,dd{ list-style:none;}
.cls{ clear:both !important; height:0px !important; line-height:0px !important; margin:0px !important; padding:0px !important;}
.bottom{border-bottom:1px solid #E9E9E9;}
.center{ text-align:center;}
.tleft{ text-align:left;}
.left{ float:left;}
.tright{ text-align:right;}
.right{ float:right;}
.tcenter{text-align: center;}
.top{border-top:1px solid #E9E9E9;}
.white{ background-color:#fff !important;}
.show{ display:block !important;}
.hide{ display:none !important;}
.nowrap{ white-space:nowrap; word-break:break-all; overflow:hidden;}
.ellipsis{ text-overflow:ellipsis;}
.template{ display:none;}
.transparent{background-color:transparent;}
.sidex{overflow-x:auto; overflow-y: hidden;-webkit-overflow-scrolling:touch;}
.sidey{overflow-x:hidden; overflow-y: auto;-webkit-overflow-scrolling:touch;}
.f10{font-size: 10px;transform-origin: left;transform: scale(0.9,0.9)}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f17{font-size:17px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f22{font-size:22px;}
.f24{font-size:24px;}
.f28{font-size:28px;}
.f36{font-size:36px;}
.f32{font-size:32px;}
.f34{font-size:34px;}

.h20{ height:20px;}
.h30{ height:30px;}
.h50{ height:50px;}
.lh20{line-height:20px;}
.lh25{line-height:25px;}
.lh30{line-height:30px;}
.lh40{line-height:40px;}
.lh45{line-height:45px;}
.lh50{line-height:50px;}
.lh70{line-height:70px;}
.marb5{margin-bottom: 5px;}
.marb10{margin-bottom: 10px;}
.marb15{margin-bottom: 15px;}
.marb20{margin-bottom: 20px;}
.marb25{margin-bottom: 25px;}
.marb30{margin-bottom: 30px;}

.mart5{margin-top: 5px;}
.mart10{margin-top: 10px;}
.mart15{margin-top: 15px;}
.mart20{margin-top: 20px;}
.mart25{margin-top: 25px;}
.mart30{margin-top: 30px;}

.marl5{margin-left: 5px;}
.marl10{margin-left: 10px;}
.marl15{margin-left: 15px;}
.marl20{margin-left: 20px;}
.marl25{margin-left: 25px;}
.marl30{margin-left: 30px;}


.marr5{margin-right: 5px;}
.marr10{margin-right: 10px;}
.marr15{margin-right: 15px;}
.marr20{margin-right: 20px;}
.marr25{margin-right: 25px;}
.marr30{margin-right: 30px;}

.paddb5{padding-bottom: 5px;}
.paddb10{padding-bottom: 10px;}
.paddb15{padding-bottom: 15px;}
.paddb20{padding-bottom: 20px;}
.paddb25{padding-bottom: 25px;}
.paddb30{padding-bottom: 30px;}

.paddt5{padding-top: 5px;}
.paddt10{padding-top: 10px;}
.paddt15{padding-top: 15px;}
.paddt20{padding-top: 20px;}
.paddt25{padding-top: 25px;}
.paddt30{padding-top: 30px;}

.paddl5{padding-left: 5px;}
.paddl10{padding-left: 10px;}
.paddl15{padding-left: 15px;}
.paddl20{padding-left: 20px;}
.paddl25{padding-left: 25px;}
.paddl30{padding-left: 30px;}


.paddr5{padding-right: 5px;}
.paddr10{padding-right: 10px;}
.paddr15{padding-right: 15px;}
.paddr20{padding-right: 20px;}
.paddr25{padding-right: 25px;}
.paddr30{padding-right: 30px;}

.pad5{padding: 5px;}
.pad10{padding: 10px;}
.pad15{padding: 15px;}
.pad20{padding: 20px;}

.marg5{margin: 5px;}
.marg10{margin: 10px;}
.marg15{margin: 15px;}
.marg20{margin: 20px;}



.imgCover{width: 100%;height: 100%;object-fit: cover;}
.imgContain{width: 100%;height: 100%;object-fit:contain;}
.imgFull{width:100%; vertical-align: top;}
/*template*/
*[wtp],*[wtd]{display:none;display:none !important;}
#WTDBOX{display:none;position:fixed;z-index:1200;width:100%;height:100%;top:0px; left:0px;}
#WTDBOX>div{display:table-cell; text-align:center; vertical-align:middle;width:100%;height:100%;}
#WTDBOXTD{ display:inline-block;}
/*header*/
body > header{width:100%;background-color: white;}
/*section*/
body > section{overflow-x:hidden;overflow-y: auto;-webkit-overflow-scrolling: touch;position: relative;z-index: 1;}
body > section.body{-webkit-overflow-scrolling:touch;}
body > section.block{overflow:hidden;}
/*footer*/
body > footer{width:100%;overflow:hidden;position:fixed;bottom:0px;z-index: 2;}
body > footer::before,.clearfix::after{content:"";height:0;width:0;line-height:0;display:block;visibility:hidden;clear:both;}
body > footer >ul{margin:0px;padding:0px;display:-webkit-box;display:box;height:50px;}
body > footer >ul >li{height: 50px;width: 0px;margin: 0px;padding: 0px;-webkit-box-flex:1;box-flex:1;text-align: center;}
/*loading*/
#loadingbox{ top:50%;position:fixed; height:40px; text-align:center; margin-top:-20px; overflow:hidden; display:none;width: 100%;z-index: 999;}
#loadingbox>span{background-size: 20px auto; display:inline-block; height:40px; line-height:40px; background:url(../img/loading.gif) no-repeat left 10px center; color:white; font-size:16px; padding-left:35px; padding-right: 10px;background-color: rgba(1,1,1,0.6);border-radius: 7px;}
/*top nav*/
#TopNav{ background:#FFFFFF; line-height:50px; height:50px; overflow:hidden;}
#TopNavBack,#TopNavMenu{ width:35px; height:50px; background-position:center center; background-repeat:no-repeat;}
#TopNavBack{background-image:url(../img/back.png); float:left;background-size:auto 20px;}
#TopNavMenu{background-image:url(../img/menu.png); float:right;background-size:20px auto;}
#TopNavTitle{ margin:0px 40px;text-overflow:ellipsis; white-space:nowrap; overflow:hidden; height:50px; color:#222222; font-size:16px; text-align:center;}
/*manbg*/
#MainBg{ position:absolute; z-index:1000; background-color:rgba(0,0,0,0.3); top:0px; left:0px; width:100%; height:100%;}
/*message*/
#MessgeBoxT{ position:absolute; top:50px; text-align:center;display:none; width:100%; left:0px; z-index:10000;}
#MessgeBoxT>span{ background:#000000;box-shadow: #000 0px 0px 5px; line-height:30px;text-align:center; border-radius:5px;
 display:inline-block; padding:0px 15px; color:#FFFFFF; font-size:12px; max-width:95%; overflow:hidden; min-width:30%;}
/*MessgeBox*/
#MessgeBox{ width:260px; margin:auto;height:160px;background:#fff; z-index:1000; display:none;
position:absolute; top:50%; margin-top:-80px; border-radius:10px;box-shadow: #999 0px 0px 10px; left:50%; margin-left:-130px;}
#MessgeBoxContent{ height:90px;word-break:break-all; padding:10px; overflow:hidden; display:table-cell; vertical-align:middle; font-size:16px; line-height:20px;}
#MessgeBoxButton{ height:50px; overflow:hidden;margin-top: 20px}
#MessgeBoxButton>span{ height:50px; line-height:50px; display:inline-block;font-size:18px; text-align:center; white-space:20px;}
#MessgeBox .mbuttonfull{background: -webkit-linear-gradient(right, #EE900E, #DD1474);; color:#FFFFFF; border-bottom-left-radius:10px; border-bottom-right-radius:10px; width:100%;}
#MessgeBox .mbuttonl{ background:#c6c6c6; color:#FFFFFF; border-bottom-left-radius:10px; width:50%;}
#MessgeBox .mbuttonr{ background:#DD1474; color:#FFFFFF; border-bottom-right-radius:10px; width:50%;}
/*UpImage*/
#UpImageBox{ position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:1000; text-align:center; overflow:hidden; display:none;}
#UpImageBox .nav{ background:#393A3F; height:50px; overflow:hidden;}
#UpImageBox .nav >span{ display:inline-block; margin:10px; height:30px; text-align:center;}
#UpImageBox .back{ float:left; background:url(../img/back_w.png) no-repeat center center;width:18px; background-size: 80%; }
#UpImageBox .select{ color:#fff; background:#1AAD19; border-radius:5px; float:right;line-height:30px;width:50px;}
#UpImageBox .content{ height:300px; width:300px; overflow:hidden; margin:20px auto 0px auto; background-size:cover; border:1px solid #fff; 
	background-repeat:no-repeat; background-position:center center;}
#UpImageBox .mask{ height:100%; width:100%; float:right; background:#AAA; opacity:.9; font-size:0px; overflow:hidden;}
#UpImageBox .upmess{ line-height:50px; text-align:center; color:#000;}




.__wechat-share {  position: absolute;  right: 0px;  top: 0px;  width: 100%;  height: 80px;  color: white;   line-height: 80px;  text-align: center; background: right 10px center no-repeat url("../img/sharearrow.png");background-color: rgba(0,0,0,0.7); }








/*sl添加的样式*/

/*等比例容器*/
.wrap {
    padding-top: 50%;
    position: relative;
    overflow: hidden;
}

/*等比例 内容的容器*/
.wrap_ct {
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}


.fullImg>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.col_bg{
    background:#c7c7c7;
}

.col_theme{color: #EB3B17 !important;}
.col_subTt{color: #666666 !important;;}
.col_sub{color:#979797 !important;;}
.col_white{color:white !important;;}

.col_red{color:#EB3B17 !important;}
.col_gre{color:green !important;}
.col_yellow{color: #FF9F05 !important;;}
.col_click{color: #4FB3F1 !important;;}


.bg_theme{background-color: #EB3B17 !important;}
.bg_lgray{background-color: #FAFAFA !important;;}

.ccenter{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center
}


.color666{color: #666666;}


.border_top{border-top: 1px solid #ebebeb;}
.border_right{border-right: 1px solid #ebebeb;}
.border_left{border-left: 1px solid #ebebeb;}

.radiu3{border-radius: 3px;}
.radiu5{border-radius: 5px;}

.mainH{height: 100%;}
.mainW{width: 100%;}


.verticalCT {display: table;}

.vertical_middle {display: table-cell;vertical-align: middle;}



.lIcon {
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: left 5px center;
    background-size: 15px auto;
}

.rIcon {
    padding-right: 25px;
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 15px auto;
}



.mh5{margin-left: 5px;margin-right: 5px;}
.mv5{margin-top: 5px;margin-bottom: 5px;}

